<%
var chosen = data.name;
var values = data.traffic.map(function(n) { return n[chosen] });
var highest = Math.max.apply(null, values);

data.traffic.forEach(function(row) { %>
<div class="graph">
  <div class="row">
    <div class="year"><%= row.year %></div>
    <div class="stacked-bar">
      <%
      var value = row[chosen];
      var selected = value / highest * 100;
      %>
      <span style="width: <%= selected.toFixed(2) %>%" class="chosen bar"><div class="caption">
        <%= row[chosen].toLocaleString(undefined, {maximumFractionDigits: 1}) %>
      </div></span>
    </div>
    <div class="description">
      <div class="tooltip">
          <div class="title">Total infractions: <%= row["total"].toLocaleString(undefined, {maximumFractionDigits: 1}) %></div>
          <% for (var k in data.columns) { %>
            <% if (k == chosen && k != "total") { %>
          <div> <strong><%= data.columns[k].text.toLocaleString(undefined, {maximumFractionDigits: 1}) %>: <%= row[k].toLocaleString(undefined, {maximumFractionDigits: 1}) %> </strong></div>
          <% } else if (k != "total") { %>
          <div> <%= data.columns[k].text.toLocaleString(undefined, {maximumFractionDigits: 1}) %>: <%= row[k].toLocaleString(undefined, {maximumFractionDigits: 1}) %> </div>
            <% } %>
            <% } %>
        </div>
          <!-- <table class="tooltip">
            <tr>
              <th>Infraction</th>
              <th>Total</th>
              <% for (var k in data.columns) { %>
                <% if (k != "other") %>
            </tr>
            <tr>
              <td><%= data.columns[k].text %></td>
              <td><%= row[k] %></td>
            </tr>
                  <% } %>
        </table> -->
    </div>
  </div>
</div>
<% }); %>
