<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <responsive-child>
      <main class="interactive">
        <h1> Traffic infractions in Seattle </h1>
        <div class="chatter"> Explore the trend in ticketing for a selection of traffic infraction categories in Seattle from 2010 to 2016. Click on a bar for more detail. </div>
        <div class="nav">
          <% for (var k in csv.columns) { %>
            <% if (k == "total") { %>
              <input type="radio" name="infraction" id="<%= k %>" checked="checked">
              <label for="<%= k %>"><%= csv.columns[k].text %></label>
          <%  } else if (k != "other") { %>
          <input type="radio" name="infraction" id="<%= k %>">
          <label for="<%= k %>"><%= csv.columns[k].text %></label>
            <%  } %>
        <%  } %>
        </div>
        <div class="key">
          <div class="border">
            <div class="swatch chosen"></div>
            Number of infractions
          </div>
        </div>
        <div class="outer">
        </div>
        <div class="source">
          Source: Seattle Municipal Court
        </div>
        <div class="note">
          Note: Speeding category excludes school-zone citations.
        </div>
        <div class="credit">
          ELLIS SIMANI / THE SEATTLE TIMES
        </div>
      </main>
    </responsive-child>

    <script>
window.trafficData = <%= JSON.stringify(csv.traffic) %>;
window.trafficColumns = <%= JSON.stringify(csv.columns) %>;
    </script>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
